<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header> 
        <figure> 
        <img src = "/images/logo-mercado-liebre.svg" alt= "logo" width = "250 px">
        </figure>
       
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis Compras</li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <h2>Basado en la última visita</h2>
            <article>
                <figure> <img src="images/img-cafetera-moulinex.jpg" alt="cafetera"> </figure>
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <figure> <img src="images/img-macbook-pro-2019.jpg" alt="Mac Book"> </figure>
                <p>$230.000</p>
                <p>20% OFF</p>
                <h4>Mac Book Pro 2019</h4>
            </article>
        </section>
        <section>
            <h2>Sección de Ofertas</h2>
            <article>
                <figure> <img src="images/img-cafetera-moulinex.jpg" alt="cafetera"> </figure>
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <figure> <img src="images/img-macbook-pro-2019.jpg" alt="Mac Book"> </figure>
                <p>$230.000</p>
                <p>20% OFF</p>
                <h4>Mac Book Pro 2019</h4>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h2>Pagá con tarjeta de crédito</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta 
                o efectivo en puntos de pago . ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h2>Envío gratis desde $2.500</h2>
            <p>Sólo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos.
                Es un beneficio de Mercado Puntos</p>
            <section> 
            <h2>Envío gratis desde $2.500</h2>
            <p>Sólo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. 
                Es un beneficio de Mercado Puntos</p>
            </section>
        </section>
    </footer>
</body>
</html>